.explanation {
    background-color: #fff8dc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.loading {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #ff9800;
}

.explanation div {
    line-height: 1.6;
    font-size: 16px;
    margin-top: 0.5rem;
}

.explanation h3 {
    margin-bottom: 1rem;
}